/* www.multithemes.com */


body {
	background: url(../../images/editable_images/colored_background.jpg) repeat left top}

.photo-background, .movie-background {
	background: url(../../images/editable_images/colored_background.jpg) repeat left top}

/* Nrounded corners OFF */

#pageHeader {
	background-image: none;
}

#footer {
	background-image: none;
}

#headerEdge #rightEdge {
	background-image: none;
}


#footerEdge #rightEdge {
	background-image: none;
}
