#contentContainer {
	width: 390px;
}

/* www.multithemes.com */

#container #top {
	width: 620px;
}


#container, #navcontainer, #navcontainer ul, #navcontainer ul ul {
	width: 620px;
}

#headerEdge{
	width: 620px;
}

#footerEdge {
	width: 620px;
}