/* www.multithemes.com */

#headerEdge, #container #top{	
	background: url(../../images/colors/toolbar2.jpg) repeat-y center #b4b4b4;
}

#pageHeader h1 {

	text-shadow: 0px 1px 0px #ffffff;
}

#pageHeader h2 {

	text-shadow: 0px 1px 0px #ffffff;
}


