/* www.multithemes.com */

#shadow{
	background: url(../../images/elements/tile/toolbar_white_shadow_2.png) no-repeat left top;
	height: 46px;
	position: relative;
	bottom: 0;
	z-index: 0;
}

/* color4 transp. all */

#navcontainer {
	z-index: 1;
	height: 0;
}

/* #0075ba */

/* -----toolbar */

#navcontainer .currentAncestor {
	text-shadow: 0px 1px 0px #e4e4e4;
}

/* #005789 */

#navcontainer ul {
	position: absolute;
	left: 0;
	top: 11px;
}

#navcontainer a{
	text-shadow: 0px 1px 0px #e4e4e4;
	text-decoration: none;
	border-style: none;
}

/* #252525 */

/* base toolbar */

#navcontainer .current {
	font-weight: bold;
	text-shadow: 2px 2px 1px #dddddd;

}

/* #00456e */

/* 0 */

#navcontainer a:hover {

	text-shadow: 0px 1px 0px #e4e4e4;
	text-decoration: none;
	border-style: none;
}

/* #00456e */

/* I edit */

#navcontainer ul ul {
	top: 13px;
	margin-left: 0;
}

#navcontainer ul ul a {	
	text-shadow: 0px 1px 0px #cdcdcd;	
	
}

/* #2b2b2b */

#navcontainer ul ul a:hover{
	background-position: center top;
}

/* #00456e */

#navcontainer ul ul .current{
	font-weight: bold;
	background-position: center top;
}

/* #00456e */

#navcontainer ul ul .currentAncestor {
	background-position: center top;
}

/* #0075ba */

/* II */

#navcontainer ul ul ul li a:hover
 {
	background-color: transparent;
	display: none;
}

/* #00456e */

#navcontainer ul ul ul .current {
	font-weight: bold;
	background-color: transparent;
	display: none;
}

/* #00456e */

#navcontainer ul ul ul li
 {
	display: none;
}

#navcontainer ul ul ul li a
 {
	display: none;
}

#navcontainer ul ul ul ul
 {
	display: none;
}


