/* www.multithemes.com *//* center */

#pageHeader h1 {
	text-align: center;
	padding-left: 5px;
	font-size: 27px;
	line-height: 25px;
}

#pageHeader h2 {
	padding-left: 6px;
	text-align: center;
	font-size: 18px;
}


