/* sidebar */

#sidebarContainer {
	float: right;
	right: 10px;
	position: relative;
	clear: left;
}

#contentContainer {
	border-left: none;
	margin-left: 10px;
}

#contentContainer #content {
}

/* @group NAVCONTAINER SIDEBAR HIDE */

/* x */

#navcontainer2 ul {
	display: none;
}

#navcontainer2 li {
	display: none;
}

#navcontainer2 a{
	display: none;
}

#navcontainer2 a:hover {
	display: none;
}

#navcontainer2 a:active {
	display: none;
}

/* I */

#navcontainer2 ul ul {
	display: none;
}

#navcontainer2 ul ul li {
	display: none;
}

#navcontainer2 ul ul a {
	display: none;
}

#navcontainer2 ul ul a:hover{
	display: none;
}

#navcontainer2 ul ul #current{
	display: none;
}

/* II  --> over */

#navcontainer2 ul ul ul {
	display: none;
}

#navcontainer2 ul ul ul li
 {
	display: none;
}

#navcontainer2 ul ul ul li a
 {
	display: none;
}

#navcontainer2 ul ul ul li a:hover
 {
	display: none;
}

#navcontainer2 ul ul ul #current {
	display: none;
}

#navcontainer2 ul ul ul ul
 {
	display: none;
}

/* III  --> over */

#navcontainer2 ul ul ul ul {
	display: none;
}

#navcontainer2 ul ul ul ul li
 {
	display: none;
}

#navcontainer2 ul ul ul ul li a
 {
	display: none;
}

#navcontainer2 ul ul ul ul li a:hover
 {
	display: none;
}

#navcontainer2 ul ul ul ul #current {
	display: none;
}

#navcontainer2 ul ul ul ul ul
 {
	display: none;
}

/* @end */

#navcontainer2 {
	margin-top: 7px;
}
